<div class="list-group">
    <div *ngFor='let task of tasks' class="list-group-item">
        <div class="checkbox" (click)="completeTask(task)">
            <label>
              <input type="checkbox" /><strong>{{ task.name }}</strong>  
            </label>
        </div>
    </div>
    <div class="list-group-item">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="newTask.name" />
            <span class="input-group-btn">
                <button class="btn btn-success" (click)="createTask()" [disabled]="!newTask.name">Create Task</button>
            </span>
        </div>
    </div>
</div>